*.pyc
*.swp
build/
*.cache
tags
build/Doxyfile
build/Makefile
build/CMakeFiles
build/CMakeCache.txt
build/cmake_install.cmake
build/ModPackets
build/SpiderAPI
build/tries-prefix
build/.cproject
build/.project
doc/
*.swp
*.pcap
!build/input.pcap
!build/expected_output.pcap
!build_static/*
*.csv
build/p4factory-simple-router-prefix/
build/spider-sim
build/npu-sim
build/rmt-sim
build/softswitch
build/npu-sim
*.a
notes.txt
todo.txt
npu/src/structural/
npu/src/lib
